name: Autoassign

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  bump:
    runs-on: ubuntu-slim
    steps:
      - uses: plengauer/autoassign@v0.0.0
        with:
          github_token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
