name: Autoapprove

on:
  pull_request:

concurrency:
  group: approve-${{ github.event.pull_request.number }}

jobs:
  approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      actions: read
    steps:
      - uses: plengauer/autoapprove@v0.2.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          user_to_approve: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
