name: Publish

on:
  release:
    types: published
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish.yml
      
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
      actions: read
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.45.1
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
        with:
          secrets_to_redact: ${{ github.token }}
      - uses: plengauer/create-deb-repository@v0.0.17
      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: .
      - uses: actions/deploy-pages@v4.0.5
