name: Publish

on:
  release:
    types: published
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish.yml
      
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: plengauer/create-deb-repository@v0.0.13
      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: .
      - uses: actions/deploy-pages@v4.0.5
